// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************


.Navigation-listItem {
  position: relative;
  display: block;
  padding: 0px 0px 0px 20px;

  .Navigation-link {
    position: absolute;
    background-color: $c-button;
    top: 6px;
    left: 44px;
    font-weight: 600;
    color: #EFEFEF;
    padding: 4px 25px 4px 35px;
    font-size: 1rem;
    opacity: 0.97;
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.4);
  }

  .Navigation-link:hover {
    text-decoration: none;
  }



  .last-button {
    background-image: url("../img/last-button.png");
  }
}

#social-media {
  ul, li {
    display: inline-block;
    margin: 0px;
  }
}

#social-media a:hover {
  opacity: 0.8;
}

#logo, #social-media, #cool-kids {
  text-align: center;
}


header, .home #content {
  .button, .last-button {
    position: relative;
    z-index: 1;
    background-size: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 50px;
    height: 50px;
  }

  .button {
    background-image: url("../img/button.png");
  }

  .button.mobile {
    display: none;
  }
}